<form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
  <div class="form-group required">
    <label>Usuario</label>
    <input class="form-control" formControlName="UserName">
    <label class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">Preencha o campo usuário.</label>
  </div>
  <div class="form-group">
      <label>Nome</label>
      <input class="form-control" formControlName="Nome">
    </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" formControlName="Email">
    <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Email inválido.</label>
  </div>
  <div formGroupName="Passwords">
    <div class="form-group required">
      <label>Senha</label>
      <input type="password" class="form-control" formControlName="Password">
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">Preencha o campo senha.</label>
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Senha deve conter no mínimo 6 caracteres.</label>
    </div>
    <div class="form-group required">
      <label>Confirme a senha</label>
      <input type="password" class="form-control" formControlName="ConfirmPassword">
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">Preencha o campo confirme senha.</label>
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Senhas não conferem.</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-success btn-block" [disabled]="!service.formModel.valid">Registrar</button>
    </div>
  </div>
</form>